@*<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-center">
                    <span class="creditCardTab">Ziraat Bankası</span>
                    <span class="creditCardTab">QNB Finansbank</span>
                    <span class="creditCardTab">Akbank</span>
                    <span class="creditCardTab">İş Bankası</span>
                    <span class="creditCardTab">Halkbank</span>
                    <span class="creditCardTab">Yapı Kredi</span>
                    <span class="creditCardTab">Yabancı Kart</span>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500; margin-right: 50px;"><strong>Kart Numarası <img src="https://img.icons8.com/color/48/null/visa.png" width="36" height="36" /></strong></span>
                    <span>: 4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 50px;"><strong>Kart Numarası <img src="https://img.icons8.com/stickers/100/null/mastercard.png" width="36" height="36" /></strong></span>
                    <span>: 5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 9px;"><strong>Son Kullanma Tarihi <img src="https://img.icons8.com/color/48/null/bank-card-back-side.png" width="36" height="36" /></strong></span>
                    <span>: 12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 22px;"><strong>Güvenlik Numarası <img src="https://img.icons8.com/cotton/64/null/card-verification-value.png" width="32" height="32" /></strong></span>
                    <span>: 000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 3px;"><strong>Kart 3D Secure Şifresi <img src="https://img.icons8.com/color/48/null/keyhole-shield.png" width="32" height="32" /></strong></span>
                    <span>: a</span>
                </div>
                <div class="card-footer text-center p-0">
                    <button type="button" style="border: none; background-color: rgba(76, 175, 80, 0)">Test Et</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 50px;"><strong><img src="https://img.icons8.com/color/48/null/visa.png" width="36" height="36" /> Kart Numarası</strong></span>
                    <span>: 4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 50px;"><strong><img src="https://img.icons8.com/stickers/100/null/mastercard.png" width="36" height="36" /> Kart Numarası</strong></span>
                    <span>: 5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 9px;"><strong><img src="https://img.icons8.com/color/48/null/bank-card-back-side.png" width="36" height="36" /> Son Kullanma Tarihi</strong></span>
                    <span>: 12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 22px;"><strong> <img src="https://img.icons8.com/cotton/64/null/card-verification-value.png" width="32" height="32" /> Güvenlik Numarası</strong></span>
                    <span>: 000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 3px;"><strong><img src="https://img.icons8.com/color/48/null/keyhole-shield.png" width="32" height="32" /> Kart 3D Secure Şifresi</strong></span>
                    <span>: a</span>
                </div>
                <div class="card-footer text-center p-0">
                    <button type="button" style="border: none; background-color: rgba(76, 175, 80, 0)">Test Et</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <div class="row">
                        <div class="col-6">
                            <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 50px;"><strong><img src="https://img.icons8.com/color/48/null/visa.png" width="36" height="36" /> Kart Numarası</strong></span>
                        </div>
                        <div class="col-6">
                            <span>: 4546711234567894</span>
                        </div>
                    </div>

                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 50px;"><strong><img src="https://img.icons8.com/stickers/100/null/mastercard.png" width="36" height="36" /> Kart Numarası</strong></span>
                    <span>: 5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 9px;"><strong><img src="https://img.icons8.com/color/48/null/bank-card-back-side.png" width="36" height="36" /> Son Kullanma Tarihi</strong></span>
                    <span>: 12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 22px;"><strong> <img src="https://img.icons8.com/cotton/64/null/card-verification-value.png" width="32" height="32" /> Güvenlik Numarası</strong></span>
                    <span>: 000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight: 500; margin-right: 3px;"><strong><img src="https://img.icons8.com/color/48/null/keyhole-shield.png" width="32" height="32" /> Kart 3D Secure Şifresi</strong></span>
                    <span>: a</span>
                </div>
                <div class="card-footer text-center p-0">
                    <button type="button" style="border: none; background-color: rgba(76, 175, 80, 0)">Test Et</button>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: #8F8F95; font-size: 1.2em; font-weight:500">Ziraat Bankası</span>
                </div>
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Visa):</strong></span>
                    <span>4546711234567894</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart Numarası (Master Card):</strong></span>
                    <span>5401341234567891</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Son Kullanma Tarihi: </strong></span>
                    <span>12/26</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Güvenlik Numarası (CVV):</strong></span>
                    <span>000</span>
                    <br />
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500"><strong>Kart 3D Secure Şifresi:</strong></span>
                    <span>a</span>
                </div>
            </div>
        </div>
    </div>*@

@*--------------------------------------------------------------*@

<div class="row my-5">
    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3" align="center">
        <div class="card creditCard border-0">
            <div class="card__front card__part">
                @*<img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">*@
                @*<img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@
                <img class="card__front-square card__square float-left" src="/Ziraat_Bankası_logo.png">
                <img class="card__front-logo card__logo mt-1" src="/visacard.png" style="width: 70px; height: 20px;">
                <p class="card_numer float-left">4546 7112 3456 7894</p>
                <div class="card__space-75">
                    <span class="card__label float-left">Card holder</span>
                    <br style="height: 1px !important;" />
                    <p class="card__info float-left mt-0">Test Test</p>
                </div>
                <div class="card__space-25">
                    <span class="card__label float-right mr-1">Expires</span>
                    <br />
                    <p class="card__info float-right mt-0 mr-1">12/26</p>
                </div>
            </div>

            <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                    <div class="card__secret">
                        <p class="card__secret--last">000</p>
                    </div>
                    @*<img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                        <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">*@

                </div>
            </div>

        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500">Plant Ident/Tag No</span>
                    <input type="text" id="informationTagNo" class="form-control" placeholder="Enter Tag No">
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500">Plant Ident/Tag No</span>
                    <input type="text" id="informationTagNo" class="form-control" placeholder="Enter Tag No">
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body" style="display: block;">
                    <span style="color: #8F8F95; font-size: 1em; font-weight:500">Plant Ident/Tag No</span>
                    <input type="text" id="informationTagNo" class="form-control" placeholder="Enter Tag No">
                </div>
            </div>
        </div>
    </div>*@
